.hero {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.hero img {
  width: 8rem;
  filter: invert(34%) sepia(29%) saturate(1460%) hue-rotate(287deg) brightness(90%) contrast(97%);
}