nav {
  align-items: center;
  color: white;
  background-color: #ec4c8b;
  justify-content: space-between;
  padding: 1rem;
}
nav h1 {
  font-weight: 300;
  font-size: medium;
}
nav .icons {
  gap: 0.5rem;
}
nav img {
  width: 1.2rem;
  filter: brightness(0) invert(1);
}
nav .arrow {
  align-items: center;
  gap: 0.5rem;
}
nav .arrow h2 {
  font-weight: 400;
  font-size: 1rem;
}

.backArrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}